export TOWER_HOST=<CHANGEME>
export CONTROLLER_HOST=<CHANGEME>
export SSH_PRIVATE_KEY_FILE=<CHANGEME>
export VAULT_PASSWORD=<CHANGEME>
export AAP_USER_NAME=<CHANGEME>
export AAP_USER_PASSWORD=<CHANGEME>
export TOWER_ADMIN_PASSWORD=<CHANGEME>
export CONTROLLER_ADMIN_PASSWORD=<CHANGEME>
